html {
  background-color: #222 !important;
}

body {
  color: #CCC;
  height: 100%;
  padding: 16px 0;
  font-family: "Helvetica Neue", "Helvetica", "Oxygen", "Ubuntu", sans-serif;
}

header {
  height: 42px;
  background-color: #333;
  text-align: center;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
}

header a {
  color: #27ae60;
  display: inline-block;
  font-size: 24px;
  padding-top: 4px;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
  color: #27ae60;
}

main {
  max-width: 696px;
}

.copyright {
  text-align: center;
  margin: 24px;
  font-size: 10px;
}

.home {
  border-bottom: solid 1px #CCC;
  margin: 64px auto 0;
  text-align: center;
  padding-bottom: 32px;
}

.home .intro {
  font-size: 18px;
}

.home h1 {
  border: none;
  font-size: 42px;
}

.home .contact {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
}

@media (max-width: 500px) {
  .home .contact {
    flex-wrap: wrap;
  }
  .home .contact .contact-link {
    width: 50%;
  }
}

.home .contact-link, input[type=submit]{
  line-height: 1;
  padding: 8px;
  margin: 8px;
  color: #2ecc71;
  border-radius: 2px;
  border: 1px solid #2ecc71;
  background-color: #222;
}

.home .contact-link:hover, .home .contact-link:focus, input[type=submit]:hover, input[type=submit]:focus{
  border-color: #27ae60;
  color: #1e8449;
  text-decoration: none;
  background: #222;
}

.posts {
  text-align: center;
  margin-bottom: 32px;
}

.posts h2 {
  padding: 16px;
}

.posts {
  padding: 0;
}

.posts {
  font-size: 18px;
}

.posts a {
  color: #2ecc71;
}

.posts a:hover {
  color: #1e8449;
  text-decoration: none;
}

.posts p {
  font-size: 12px;
  font-style: italic;
}

.post {
  margin-top: 48px;
  margin-bottom: 32px;
  line-height: 1.7;
}
.post h1 {
  padding: 8px 0;
  border-bottom: none;
}

.post a {
  color: #2ecc71;
}

.post a:hover {
  color: #27ae60;
  text-decoration: none;
}

.highlight > pre {
  word-wrap: normal;
  overflow-x: auto;
}

.post pre code {
  overflow-x: auto;
  white-space: pre;
  padding: 8px;
  border-radius: 2px;
  font-family: "Lucida Console", Monaco, monospace, "AdamicBee";
  background-color: #1b1d1e;
  color: #DDD;
}

code {
  background-color: #555;
  max-width: 696px;
  color: #d7d787;
  position: relative;
  bottom: 2px;
  font-size: 16px;
  padding: 1px 3px;
  font-weight: bold;
  word-break: unset;
}

.post blockquote {
  border-left: 2px solid #ddd;
  color: #555;
}

.post iframe {
  margin-top: 24px;
  width: 100%;
  height: 500px;
}

.post article {
  font-size: 18px;
}

.post article .date {
  font-size: 14px;
  display: block;
  margin: 8px 0;
}
.rss {
  text-align: center;
  font-size: 12px;
}
.rss a {
  color: #27ae60;
}
.rss a:hover {
  color:#2ecc71;
}
.dutchie {
  color: #61a58b;
}
.dutchie:hover {
  color:#2ecc71;
  text-decoration: none;
}
#contactForm {
  z-index: 2;
  margin: 48px 8px 8px;
  padding: 0 16px 16px;
  color: #2ecc71;
  border-radius: 2px;
  border: 1px solid #2ecc71;
  background-color: #222;

	overflow-y: hidden;
	max-height: 600px; /* approximate max height */
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
#contactForm.closed {
  max-height: 0;
  border: none;
  margin: 0;
  padding: 0;
}
.hide-form {
  color: #CCC;
  cursor: pointer;
  float: right;
  margin: 20px 0;
  font-size: 20px;
}
.field {
  display: block;
  margin-top: 16px;
}
input.text, input[type=email], textarea {
  background: #333;
  display: block;
  border: 1px solid #2ecc71;
  border-radius: 2px;
  color: #CCC;
  width: 100%;
}
textarea {
  min-height: 120px;
}
input[type=submit] {
  display: block;
  margin: 32px auto 8px;
  width: 100%;
}
.thanks {
  text-align: center;
  color: #CCC;
  border: none;
}
.thanks.hidden {
  display: none;
}
input[type=submit]:disabled {
  color: #444;
  border-color: #444;
}
