<% wrap_layout :layout do %>
    <main class="post">
        <article>
            <h1><%= current_page.title %></h1>
            <p><%= current_page.date.strftime('%B %d, %Y') %>
            <%= yield %>
        </article>
    </main>
<% end %>
