  <header>
    <div class="menu-wrapper">
      <%= link_to "{ elliotec }", "/index.html", class: 'logocenter' %>
    </div>
  </header>
  <section class="now">
    <h2>What I'm doing now</h2>
    <p>I work as a software engineering manager for <a href="https://dutchie.com">dutchie</a>, a cannabis tech company powering 25% of dispensaries in the US and  Canada and 10% of all legal cannabis sales. <a href="https://dutchie.com/careers">I'm hiring.</p>

  </section>
