---
title: elliotec
---

<main>
  <section class="home">
    <%= image_tag("/images/meopt.jpg", alt: "headshot", height: "178", width: "160", style: "border-radius: 50%;") %>
    <div class="intro">
      <h1>Mike Elliott</h1>
      <p>Engineering Manager at <a href="https://www.dutchie.com" class="dutchie">dutchie</a></p>
      <nav class="contact">
        <button onclick="toggleForm()" class="contact-link" target="_blank" rel="noopener noreferrer">Contact</button>
        <a class="contact-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/elliotec">Linkedin</a>
        <a class="contact-link" target="_blank" rel="noopener noreferrer" href="https://github.com/elliotec">Github</a>
        <a class="contact-link" target="_blank" rel="noopener noreferrer" href="https://twitter.com/elliotecdev">Twitter</a>
        <%#= link_to "Resume", "/images/MichaelElliottResume.pdf", class: "contact-link", target: "_blank" %>
      </nav>
    </div>
  </section>
  <a href="#" id="anchor" style="display: hidden;"></a>
  <form id="contactForm"
        action="http://138.68.236.200/contact/"
        method="POST"
        class="closed">
    <div class="hide-form" onclick="toggleForm()">&#10006</div>
    <h3 class="title">Get in touch!</h3>
    <div class="field">
      <label for="subject">Subject</label>
      <input name="subject" id="subject" type="text" required>
    </div>
    <div class="field">
      <label for="message">Message</label>
      <textarea name="message" required></textarea>
    </div>
    <div class="field">
      <label for="name">Your name</label>
      <input name="name" id="name" type="text" required>
    </div>
    <div class="field">
      <label for="email">Email address</label>
      <input name="email" id="email" type="email" required>
    </div>
    <div><input type="submit" value="Send message"></div>
  </form>
  <section class="posts">
    <h2>Posts & Projects</h2>
    <% blog.articles.each do |post| %>
      <%= link_to(post.title, post.url, class: "post-item") %>
      <p><%= post.date.strftime('%B %d, %Y') %></p>
    <% end %>
  </section>
</main>
  <script type="text/javascript">
    const form = document.getElementById("contactForm");
    const anchor = document.getElementById("anchor");
    const toggleForm = () => {
      if (form.classList.contains('closed')) {
        form.classList.remove('closed')
      } else {
        form.classList.add('closed')
      }
      anchor.scrollIntoView({ behavior: 'smooth'})
    }
  </script>
