---
title: elliotec
---

<main>
    <section class="home">
        <%= image_tag("/images/groom.png", class: "headshot") %>
        <div class="intro">
            <h1>Mike Elliott</h1>
            <p>Senior Front End Developer at Overstock.com</p>
            <div class="contact">
                <a class="contact-link" target="_blank" href="mailto:me@michaelelliott.me">email</a>
                <a class="contact-link" target="_blank" href="http://linkedin.com/in/elliotec">linkedin</a>
                <a class="contact-link" target="_blank" href="http://github.com/elliotec">github</a>
                <a class="contact-link" target="_blank" href="http://twitter.com/elliotecweb">twitter</a>
                <%= link_to "resume", "/images/MichaelElliottResume.pdf", class: "contact-link", target: "_blank" %>
            </div>
        </div>
    </section>
    <section class="posts">
        <h2>Posts & Projects</h2>
        <ul>
            <% blog.articles.each do |post| %>
                <li class="post-item">
                    <%= link_to(post.title, post.url)%>
                </li>
                <p id="date"><%= post.date.strftime('%B %d, %Y') %></p>
            <% end %>
        </ul>
    </section>
</main>
<script async src="//squaresend.com/squaresend.js"></script>
