---
title: elliotec
---

<main>
  <section class="home">
    <%= image_tag("/images/headshotMonsteraSquareSmall.jpeg", alt: "headshot", height: "240", width: "240", style: "border-radius: 50%;") %>
    <div class="intro">
      <h1>Mike Elliott</h1>
      <p>This is my website. I post projects, writings, and anything else I feel like here.</p>
      <nav class="contact">
        <a class="contact-link" target="_blank" rel="noopener noreferrer" href="/now">Now</a>
        <a class="contact-link" target="_blank" rel="noopener noreferrer" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#101;&#64;&#101;&#108;&#108;&#105;&#111;&#116;&#101;&#99;&#46;&#99;&#111;&#109;">Email</a>
        <a class="contact-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/elliotec">LinkedIn</a>
        <a class="contact-link" target="_blank" rel="noopener noreferrer" href="https://github.com/elliotec">GitHub</a>
        <%= link_to "Resume", "/images/MECV082023.pdf", rel:"noopener noreferrer", class: "contact-link", target: "_blank" %>
      </nav>
    </div>
  </section>
  <section class="posts">
    <h2>Posts & Projects</h2>
    <% blog.articles.each do |post| %>
      <%= link_to(post.title, post.url, class: "post-item") %>
      <p><%= post.date.strftime('%B %d, %Y') %></p>
    <% end %>
  </section>
</main>
